#left-container {
    height: 820px;
    max-height: 100%;
    width: 320px;
    width: 18%;
    max-width: 18%;
    background-color:#BAD0E3;  
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px lightslategrey;
    border-radius: 5px;
    overflow: hidden;
    object-fit: scale-down;
  }

/* #right-container {
    float: right;
    margin-top: 20px;
    max-width: 80%;
    object-fit: scale-down;
    display: grid;
} */

#right-container {
    float: left;
    margin-top: 20px;
    overflow: hidden;
    /* object-fit: scale-down; */
    height: 840px;
    /* width: 80%; */
    margin-right: 20px;
    margin-left: 20px;
}

#line {
    width: 100%;
}

#non-temporal_graphs {
    height: 400px;
    /* object-fit: scale-down; */
    width: 100%;
    display: block;
    margin-top: 20px;
    /* margin-left: 20px; */
}

#line-graph {
    width: 100%;
    height: 400px;
    /* display: block; */
    background-color: #BAD0E3;
    box-shadow: 2px 2px lightslategrey;
    border-radius: 5px;
    overflow: hidden;
    /* object-fit: scale-down; */
    /* margin-left: 20px; */
}

#vio {
    width: 50%;
    /* display: flex; */
    /* object-fit: scale-down; */
    /* box-shadow: 2px 2px lightslategrey;
    border-radius: 5px;
    overflow: hidden; */
    /* margin-top: 20px; */
}

#choro {
    width: 50%;
    /* display: flex; */
    /* object-fit: scale-down; */
    /* box-shadow: 2px 2px lightslategrey;
    border-radius: 5px;
    overflow: hidden; */
    /* margin-top: 20px; */
}

.choropleth {
    /* display: inline-block;
    object-fit: scale-down;
    overflow: hidden;
    height: 400px;
    margin-top: 20px; */
    /* width: 100%; */
    box-shadow: 2px 2px lightslategrey;
    border-radius: 5px;
    overflow: hidden;
}

.violin {
    /* margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    height: 400px;
    width: 710px;
    display: inline-block; */
    /* width: 100%; */
    box-shadow: 2px 2px lightslategrey;
    border-radius: 5px;
    overflow: hidden;
    /* max-width: 50%;
    object-fit: scale-down; */
}

/* .choropleth {
    margin-top: 20px;
    margin-right: 10px;
    height: 200px;
    width: 710px;
    display: inline-block;
    box-shadow: 2px 2px lightslategrey;
    border-radius: 5px;
    overflow: hidden;
    max-width: 50%;
    object-fit: scale-down;
} */

/* .violin {
    display: inline-block;
    object-fit: scale-down;
    overflow: hidden;
    height: 400px;
    margin-top: 20px;
} */

.dropdown {
    width: 85%;
    /* max-width: 85%; */
    margin-left: 20px;
    margin-right: 20px;
}

.rc-slider-track {
    background-color: white;
  }

.rc-slider-mark-text {
    color: #444;
}

.menu-title {
    margin-left: 20px;
    color: #444;
}

.globe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}