#left-container {
    height: 820px;
    width: 320px;
    background-color:#BAD0E3;  
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px lightslategrey;
    border-radius: 5px;
    overflow: hidden;
  }

#right-container {
    float: right;
    margin-top: 20px;
}

#line-graph {
    height: 400px;
    width: 1440px;
    background-color: #BAD0E3;
    margin-right: 20px;
    box-shadow: 2px 2px lightslategrey;
    border-radius: 5px;
    overflow: hidden;
}

.choropleth {
    margin-top: 20px;
    margin-right: 10px;
    height: 400px;
    width: 710px;
    display: inline-block;
    box-shadow: 2px 2px lightslategrey;
    border-radius: 5px;
    overflow: hidden;
}

.violin {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    height: 400px;
    width: 710px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 2px 2px lightslategrey;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown {
    width: 280px;
    margin-left: 20px;
    margin-right: 20px;
}

.rc-slider-track {
    background-color: white;
  }

.rc-slider-mark-text {
    color: #444;
}

.menu-title {
    margin-left: 20px;
    color: #444;
}

.globe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}